RewriteEngine On

RewriteRule ^madeleine-of-sweden-chris-oneill/201306041365/princess-madeleine-surname-chris-oneill/$ https://www.hellomagazine.com/royalty/20130604151830/princess-madeleine-surname-chris-oneill/ [R=301,L]
RewriteRule ^prince-albert-monaco-charlene-wittstock/20110614708/princess-caroline-princess-stephanie-weddings-photo-gallery/$ https://www.hellomagazine.com/royalty/2020021184595/shortest-royal-marriages-princess-caroline-to-peter-autumn-phillips/ [R=301,L]
RewriteRule ^prince-albert-monaco-charlene-wittstock/20110615710/guest-list-ernst/1/$ https://www.hellomagazine.com/brides/20221109156509/princess-charlene-engagement-ring-prince-albert-she-rarely-wears/ [R=301,L]
RewriteRule ^prince-albert-monaco-charlene-wittstock/20110628717/children-jazmin-alexandre/$ https://www.hellomagazine.com/royalty/20220103129968/prince-albert-daughter-jazmin-grimaldi-rare-picture-siblings/ [R=301,L]
RewriteRule ^prince-william-and-kate-middleton/galeria/20100922403/kate-middleton/prince-william/rings/1/$ https://www.hellomagazine.com/royalty/2018053169052/royal-engagement-rings/ [R=301,L]
RewriteRule ^princess-victoria-and-daniel-westling/20100611354/earl-countess-of-wessex/attend/victoria-wedding/1/$ https://www.hellomagazine.com/brides/20220221133653/crown-princess-victoria-prince-daniel-wedding-broke-tradition-walking-down-aisle/ [R=301,L]
RewriteRule ^prince-william-and-kate-middleton/20110420621/prince-william-kate-middleton-honeymoon-destination/$ https://www.hellomagazine.com/brides/2019070374905/prince-william-kate-middleton-honeymoon-resort-seychelles/ [R=301,L]
RewriteRule ^madeleine-of-sweden-chris-oneill/201306081376/princess-estelle-absent-madeleine-wedding/$ https://www.hellomagazine.com/royalty/20160608127942/in-photos-the-wedding-of-princess-madeleine-of-sweden-and-chris-o-neill/ [R=301,L]
RewriteRule ^princess-victoria-and-daniel-westling/galeria/20100520351/princess-victoria/daniel-westling/gallery-love-story/1/$ https://www.hellomagazine.com/royalty/20210619115443/crown-princess-victoria-prince-daniel-romance-in-photos/ [R=301,L]
RewriteRule ^madeleine-of-sweden-chris-oneill/201304181345/countess-earl-of-wessex-princess-madeleine-wedding/$ https://www.hellomagazine.com/royalty/495046/princess-madeleine-sweden-private-moments-wedding/ [R=301,L]
RewriteRule ^prince-william-and-kate-middleton/20110414613/kate-middleton/hairstyle/prince-william-waxwork/1/$ https://www.hellomagazine.com/healthandbeauty/hair/509338/kate-middleton-stunning-hair-evolution-revealed/ [R=301,L]
RewriteRule ^guillaume-luxembourg-stephanie-lannoy/news/201210021203/luxembourg-wedding-provisional-guest-list/$ https://www.hellomagazine.com/royalty/20121002151734/luxembourg-wedding-provisional-guest-list/ [R=301,L]
RewriteRule ^madeleine-of-sweden-chris-oneill/201305161355/princess-madeleine-wedding-dress-valentino/$ https://www.hellomagazine.com/royalty/20130516151823/princess-madeleine-wedding-dress-valentino/ [R=301,L]
RewriteRule ^prince-william-and-kate-middleton/20110411606/prince-william-kate-middleton/royal-wedding-guests/guy-ritchie-rowan-atkinson/$ https://www.hellomagazine.com/fashion/royal-style/20220429138891/prince-william-and-kate-middleton-stylish-wedding-guests-2011/ [R=301,L]
RewriteRule ^madeleine-of-sweden-chris-oneill/201305181357/chris-oneill-to-remain-us-citizen/$ https://www.hellomagazine.com/profiles/201210251020/chris-oneill/ [R=301,L]
RewriteRule ^zara-phillips-and-mike-tindall/20110731777/official-photos-wedding/$ https://www.hellomagazine.com/brides/20220730146779/zara-tindall-wedding-mike-tindall-nods-to-the-queen-best-photos/ [R=301,L]
RewriteRule ^imagenes/prince-william-and-kate-middleton/20110221506/royal-wedding/philip-treacy/official-hat-designer/0-1-472/camilla2--a.jpg$ https://www.hellomagazine.com/fashion/royal-style/20210426111840/wedding-guest-hats-kate-middleton-prince-william-wedding/ [R=301,L]
RewriteRule ^prince-william-and-kate-middleton/20110125464/kate-middlton/quits-job/wedding-details/1/$ https://www.hellomagazine.com/royalty/2018053169052/royal-engagement-rings/ [R=301,L]
RewriteRule ^princess-victoria-and-daniel-westling/20100621361/victoria-sweden/daniel-westling/wedding-reception/1/$ https://www.hellomagazine.com/royalty/20210619115443/crown-princess-victoria-prince-daniel-romance-in-photos/ [R=301,L]
RewriteRule ^prince-william-and-kate-middleton/galeria/20110429654/victoria-beckham-celebrities/1/1/$ https://www.hellomagazine.com/fashion/royal-style/20220429138891/prince-william-and-kate-middleton-stylish-wedding-guests-2011/ [R=301,L]
RewriteRule ^prince-william-and-kate-middleton/20110203476/prince-william-kate-middleton/royal-wedding/camilla-luddington-nico-evers-swindell/1/$ https://www.hellomagazine.com/fashion/royal-style/20220429138891/prince-william-and-kate-middleton-stylish-wedding-guests-2011/ [R=301,L]
RewriteRule ^prince-william-and-kate-middleton/20110217495/william-kate/wedding-photographer/hugo-burnand/1/$ https://www.hellomagazine.com/brides/2020042788785/prince-william-kate-middleton-royal-wedding-iconic-portrait-story/ [R=301,L]
RewriteRule ^prince-william-and-kate-middleton/20110510700/royal-wedding-vote-results/$ https://www.hellomagazine.com/royalty/2020080394692/kate-middleton-prince-william-voted-favourite-royal-wedding/ [R=301,L]
RewriteRule ^prince-william-and-katemiddleton/20110120462/katemiddleton/goringhotel/lastnight/1/$ https://www.hellomagazine.com/travel/20210319109144/the-queen-favourite-hotel-goring-london-inside/ [R=301,L]
RewriteRule ^prince-william-and-kate-middleton/20101117420/kate-middleton/prince-william/kenya-resort/$ https://www.hellomagazine.com/travel/2014102921636/prince-william-kate-middleton-kenya-safari/ [R=301,L]
RewriteRule ^guillaume-luxembourg-stephanie-lannoy/news/201210081205/prince-guillaume-stephanie-interview/$ https://www.hellomagazine.com/royalty/20121008151740/prince-guillaume-stephanie-interview/ [R=301,L]
RewriteRule ^prince-william-and-kate-middleton/20110221506/royal-wedding/philip-treacy/official-hat-designer/1/$ https://www.hellomagazine.com/fashion/royal-style/20210426111840/wedding-guest-hats-kate-middleton-prince-william-wedding/ [R=301,L]
RewriteRule ^imagenes//prince-william-and-kate-middleton/20110429658/chelsy-davy-arrives/0-2-313/chelsy-davy--z.jpg$ https://www.hellomagazine.com/royalty/495468/prince-harrys-ex-chelsy-davy-where-she-is-now/ [R=301,L]
RewriteRule ^princess-victoria-and-daniel-westling/$ https://www.hellomagazine.com/royalty/20210619115443/crown-princess-victoria-prince-daniel-romance-in-photos/ [R=301,L]
RewriteRule ^prince-william-and-kate-middleton/20110214488/kate-middleton-prince-william/royal-wedding-pippa-middleton/lady-louise-bridesmaid/$ https://www.hellomagazine.com/royalty/2018031547027/royals-as-bridesmaid-and-page-boys-gallery/ [R=301,L]
RewriteRule ^prince-william-and-kate-middleton/galeria/20101215447/kate-middleton/young/photos/1/1/$ https://www.hellomagazine.com/royalty/509691/kate-middleton-sweet-childhood-photo-christmas/ [R=301,L]
RewriteRule ^guillaume-luxembourg-stephanie-lannoy/news/201209221198/grand-duke-henri-maria-teresa-wedding/$ https://www.hellomagazine.com/royalty/20120922151731/grand-duke-henri-maria-teresa-wedding/ [R=301,L]
RewriteRule ^guillaume-luxembourg-stephanie-lannoy/news/201210221225/best-moments-wedding/$ https://www.hellomagazine.com/royalty/20121020152183/guillaume-stephanie-cathedral-wedding-ceremony/ [R=301,L]
RewriteRule ^guillaume-luxembourg-stephanie-lannoy/news/201210191212/luxembourg-royal-wedding-preparations/$ https://www.hellomagazine.com/royalty/20121019151754/luxembourg-royal-wedding-preparations/ [R=301,L]

RewriteRule ^princess-victoria-and-daniel-westling/$ https://www.hellomagazine.com/tags/princess-victoria/ [R=301,L]
RewriteRule ^prince-william-and-kate-middleton/galeria/20100922403/kate-middleton/prince-william/rings/1/$ https://www.hellomagazine.com/tags/kate-middleton/ [R=301,L]
RewriteRule ^prince-william-and-kate-middleton/galeria/20101222452/kate-middleton/wedding/tiaras/1/$ https://www.hellomagazine.com/tags/kate-middleton/ [R=301,L]
RewriteRule ^madeleine-of-sweden-chris-oneill/201303121348/princess-madeleine-cancels-hen-do/$ https://www.hellomagazine.com/tags/princess-madeleine/ [R=301,L]
RewriteRule ^prince-william-and-kate-middleton/galeria/20100922403/kate-middleton/prince-william/rings/11/$ https://www.hellomagazine.com/tags/kate-middleton/ [R=301,L]
RewriteRule ^prince-william-and-kate-middleton/20110330598/royal-wedding/video/carol-woolton/$ https://www.hellomagazine.com/tags/kate-middleton/ [R=301,L]
RewriteRule ^madeleine-of-sweden-chris-oneill/201306081376/princess-estelle-absent-madeleine-wedding/$ https://www.hellomagazine.com/tags/princess-madeleine/ [R=301,L]
RewriteRule ^prince-william-and-kate-middleton/galeria/20100922403/kate-middleton/prince-william/rings/9/$ https://www.hellomagazine.com/tags/kate-middleton/ [R=301,L]
RewriteRule ^prince-william-and-kate-middleton/galeria/20110214488/kate-middleton-prince-william/royal-wedding-pippa-middleton/lady-louise-bridesmaid/1/$ https://www.hellomagazine.com/tags/kate-middleton/ [R=301,L]
RewriteRule ^princess-victoria-and-daniel-westling/20100622365/princess-victoria/daniel-westling/honeymoon-french-polynesia/$ https://www.hellomagazine.com/tags/princess-victoria/ [R=301,L]
RewriteRule ^prince-william-and-kate-middleton/galeria/20100922403/kate-middleton/prince-william/rings/12/$ https://www.hellomagazine.com/tags/kate-middleton/ [R=301,L]
RewriteRule ^princess-victoria-and-daniel-westling/20100611354/earl-countess-of-wessex/attend/victoria-wedding/$ https://www.hellomagazine.com/tags/princess-victoria/ [R=301,L]
RewriteRule ^prince-william-and-kate-middleton/20110510700/royal-wedding-vote-results/$ https://www.hellomagazine.com/tags/kate-middleton/ [R=301,L]
RewriteRule ^prince-william-and-kate-middleton/20110504695/favourite-wedding-moment/$ https://www.hellomagazine.com/tags/kate-middleton/ [R=301,L]
RewriteRule ^prince-william-and-kate-middleton/20110224546/prince-william-kate-middleton/royal-wedding/anglesey-official-engagement-lifeboat/$ https://www.hellomagazine.com/tags/kate-middleton/ [R=301,L]
RewriteRule ^prince-william-and-kate-middleton/20110429664/twitter-celebrities-congratulations/$ https://www.hellomagazine.com/tags/kate-middleton/ [R=301,L]
RewriteRule ^princess-victoria-and-daniel-westling/20100621361/victoria-sweden/daniel-westling/wedding-reception/$ https://www.hellomagazine.com/tags/princess-victoria/ [R=301,L]
RewriteRule ^prince-william-and-kate-middleton/galeria/20100922403/kate-middleton/prince-william/rings/2/$ https://www.hellomagazine.com/tags/kate-middleton/ [R=301,L]
RewriteRule ^princess-victoria-and-daniel-westling/20100622362/victoria-daniel/official-photos/wedding/$ https://www.hellomagazine.com/tags/princess-victoria/ [R=301,L]
RewriteRule ^prince-william-and-kate-middleton/galeria/20101222452/kate-middleton/wedding/tiaras/3/$ https://www.hellomagazine.com/tags/kate-middleton/ [R=301,L]
RewriteRule ^zara-phillips-and-mike-tindall/20110731777/official-photos-wedding/$ https://www.hellomagazine.com/tags/zara-tindall/ [R=301,L]
RewriteRule ^princess-victoria-and-daniel-westling/galeria/20100520351/princess-victoria/daniel-westling/gallery-love-story/1/3/$ https://www.hellomagazine.com/tags/princess-victoria/ [R=301,L]
RewriteRule ^prince-albert-monaco-charlene-wittstock/galeria/20110126472/prince-albert/charlene-wittstock/circus-festival/1/$ https://www.hellomagazine.com/tags/prince-albert/ [R=301,L]
RewriteRule ^prince-william-and-kate-middleton/news/20110419617/royal-wedding-kate-middleton-coat-of-arms/$ https://www.hellomagazine.com/tags/kate-middleton/ [R=301,L]
RewriteRule ^prince-william-and-kate-middleton/20110308567/kate/william/northern-ireland/$ https://www.hellomagazine.com/tags/kate-middleton/ [R=301,L]
RewriteRule ^prince-william-and-kate-middleton/20110214488/kate-middleton-prince-william/royal-wedding-pippa-middleton/lady-louise-bridesmaid/$ https://www.hellomagazine.com/tags/kate-middleton/ [R=301,L]
RewriteRule ^prince-william-and-kate-middleton/galeria/20110429661/philip-treacy-hats-royalty-wedding/1/$ https://www.hellomagazine.com/tags/kate-middleton/ [R=301,L]
RewriteRule ^prince-william-and-kate-middleton/galeria/20110221506/royal-wedding/philip-treacy/official-hat-designer/3/$ https://www.hellomagazine.com/tags/kate-middleton/ [R=301,L]
RewriteRule ^guillaume-luxembourg-stephanie-lannoy/news/galeria/201210191217/luxembourg-royal-wedding-gala-dinner/1/$ https://www.hellomagazine.com/tags/prince-guillaume/ [R=301,L]
RewriteRule ^prince-william-and-kate-middleton/galeria/20110215491/kate-middleton/prince-william/st-andrews/1/$ https://www.hellomagazine.com/tags/kate-middleton/ [R=301,L]
RewriteRule ^prince-william-and-kate-middleton/galeria/20101222452/kate-middleton/wedding/tiaras/8/$ https://www.hellomagazine.com/tags/kate-middleton/ [R=301,L]
RewriteRule ^prince-william-and-kate-middleton/galeria/20101212445/william/kate/engagement-photos/1/$ https://www.hellomagazine.com/tags/kate-middleton/ [R=301,L]
RewriteRule ^prince-william-and-kate-middleton/news/20101129441/prince-william-royal-wedding/kate-middleton-childhood-photos/engagement/$ https://www.hellomagazine.com/tags/kate-middleton/ [R=301,L]
RewriteRule ^prince-william-and-kate-middleton/galeria/20110221506/royal-wedding/philip-treacy/official-hat-designer/1/$ https://www.hellomagazine.com/tags/kate-middleton/ [R=301,L]
RewriteRule ^prince-william-and-kate-middleton/galeria/20101117426/prince-william/life/highlights/1/$ https://www.hellomagazine.com/tags/kate-middleton/ [R=301,L]
RewriteRule ^prince-william-and-kate-middleton/20110430676/royal-wedding-prince-william-kate-middleton-honeymoon/$ https://www.hellomagazine.com/tags/kate-middleton/ [R=301,L]
RewriteRule ^guillaume-luxembourg-stephanie-lannoy/news/galeria/201210181211/stephanie-de-lannoy-tiara-options/1/$ https://www.hellomagazine.com/tags/prince-guillaume/ [R=301,L]
RewriteRule ^prince-william-and-kate-middleton/galeria/20101222452/kate-middleton/wedding/tiaras/9/$ https://www.hellomagazine.com/tags/kate-middleton/ [R=301,L]
RewriteRule ^prince-william-and-kate-middleton/galeria/20101222452/kate-middleton/wedding/tiaras/10/$ https://www.hellomagazine.com/tags/kate-middleton/ [R=301,L]
RewriteRule ^prince-william-and-kate-middleton/galeria/20110407604/royal/wedding/details/3/$ https://www.hellomagazine.com/tags/kate-middleton/ [R=301,L]
RewriteRule ^prince-william-and-kate-middleton/galeria/20101222452/kate-middleton/wedding/tiaras/6/$ https://www.hellomagazine.com/tags/kate-middleton/ [R=301,L]
RewriteRule ^princess-victoria-and-daniel-westling/galeria/20100619360/princess-victoria/wedding/guests/19/$ https://www.hellomagazine.com/tags/kate-middleton/ [R=301,L]
RewriteRule ^prince-william-and-kate-middleton/news/20101116416/kate-middleton/prince-william/engagement-photocall/$ https://www.hellomagazine.com/tags/kate-middleton/ [R=301,L]
RewriteRule ^zara-phillips-and-mike-tindall/20110719762/wedding-dress-design/$ https://www.hellomagazine.com/tags/zara-tindall/ [R=301,L]
RewriteRule ^prince-william-and-kate-middleton/20101116415/prince-william/engagement-reaction/david-cameron/$ https://www.hellomagazine.com/tags/kate-middleton/ [R=301,L]
RewriteRule ^prince-albert-monaco-charlene-wittstock/20110721765/prince-albert-princess-charlene-address-rumours/$ https://www.hellomagazine.com/tags/prince-albert/ [R=301,L]
RewriteRule ^prince-william-and-kate-middleton/20110315576/royal-wedding/pippa-middleton/kate-middleton-hen-party/$ https://www.hellomagazine.com/tags/kate-middleton/ [R=301,L]
RewriteRule ^prince-william-and-kate-middleton/20101117420/kate-middleton/prince-william/kenya-resort/$ https://www.hellomagazine.com/tags/kate-middleton/ [R=301,L]
RewriteRule ^madeleine-of-sweden-chris-oneill/201306081387/princess-marie-chantal-instagram/$ https://www.hellomagazine.com/tags/princess-madeleine [R=301,L]
RewriteRule ^zara-phillips-and-mike-tindall/20110309571/zara-phillips-mike-tindall/wedding-date-july-30/venue-canongate-kirk/$ https://www.hellomagazine.com/tags/zara-tindall/ [R=301,L]
RewriteRule ^prince-william-and-kate-middleton/20110429666/vote-most-elegant-woman/$ https://www.hellomagazine.com/tags/kate-middleton/ [R=301,L]
RewriteRule ^prince-william-and-kate-middleton/20110504652/best-royal-bridal-gown-vote/$ https://www.hellomagazine.com/tags/kate-middleton/ [R=301,L]
RewriteRule ^prince-albert-monaco-charlene-wittstock/20110713759/prince-albert-charlene-honeymoon-separate-hotels-marriage/$ https://www.hellomagazine.com/tags/prince-albert/ [R=301,L]
RewriteRule ^madeleine-of-sweden-chris-oneill/201306081384/princess-madeleine-chris-oneill-wedding-ceremony/$ https://www.hellomagazine.com/tags/princess-madeleine [R=301,L]
RewriteRule ^guillaume-luxembourg-stephanie-lannoy/news/201210181211/stephanie-de-lannoy-tiara-options/$ https://www.hellomagazine.com/tags/prince-guillaume/ [R=301,L]
RewriteRule ^prince-albert-monaco-charlene-wittstock/20110701724/prince-albert-and-charlene-whittstock-marry-civil-service/$ https://www.hellomagazine.com/tags/prince-albert/ [R=301,L]
RewriteRule ^zara-phillips-and-mike-tindall/galeria/20110730770/william-kate-wedding-ceremony/1/5/$ https://www.hellomagazine.com/tags/zara-tindall/ [R=301,L]
RewriteRule ^madeleine-of-sweden-chris-oneill/201306081386/chris-oneill-emotion-wedding/$ https://www.hellomagazine.com/tags/princess-madeleine [R=301,L]
RewriteRule ^prince-william-and-kate-middleton/20110502681/Royal-wedding-Prince-William-Kate-Middleton-Prince-Harry/$ https://www.hellomagazine.com/tags/kate-middleton/ [R=301,L]
RewriteRule ^prince-william-and-kate-middleton/20110106454/kate-william/arrive-car/wedding-details/$ https://www.hellomagazine.com/tags/kate-middleton/ [R=301,L]
RewriteRule ^prince-william-and-kate-middleton/news/galeria/20101116416/kate-middleton/prince-william/engagement-photocall/1/$ https://www.hellomagazine.com/tags/kate-middleton/ [R=301,L]
RewriteRule ^prince-william-and-kate-middleton/galeria/20101222452/kate-middleton/wedding/tiaras/2/$ https://www.hellomagazine.com/tags/kate-middleton/ [R=301,L]
RewriteRule ^prince-william-and-kate-middleton/20101117423/kate-middleton/style-fashion/issa/$ https://www.hellomagazine.com/tags/kate-middleton/ [R=301,L]
RewriteRule ^prince-william-and-kate-middleton/20110428645/westminster-abbey-order-of-service-royal-wedding/$ https://www.hellomagazine.com/tags/kate-middleton/ [R=301,L]
RewriteRule ^prince-william-and-kate-middleton/20110217494/kate-middleton-prince-william/canada-tour/royal-wedding/$ https://www.hellomagazine.com/tags/kate-middleton/ [R=301,L]
RewriteRule ^madeleine-of-sweden-chris-oneill/201306071378/princess-madeleine-wedding-dinner-fashion/$ https://www.hellomagazine.com/tags/princess-madeleine [R=301,L]
RewriteRule ^guillaume-luxembourg-stephanie-lannoy/news/201210211222/elie-saab-luxembourg-dresses/$ https://www.hellomagazine.com/tags/prince-guillaume/ [R=301,L]
RewriteRule ^guillaume-luxembourg-stephanie-lannoy/news/201209031190/funeral-stephanie-Lannoy-mother/$ https://www.hellomagazine.com/tags/prince-guillaume/ [R=301,L]
RewriteRule ^madeleine-of-sweden-chris-oneill/201305181357/chris-oneill-to-remain-us-citizen/$ https://www.hellomagazine.com/tags/princess-madeleine [R=301,L]
RewriteRule ^prince-william-and-kate-middleton/20110429642/foreign-royal-arrivals/$ https://www.hellomagazine.com/tags/kate-middleton/ [R=301,L]
RewriteRule ^prince-albert-monaco-charlene-wittstock/20110702736/monaco-royal-wedding-prince-albert-princess-charlene-procession/$ https://www.hellomagazine.com/tags/princess-charlene/ [R=301,L]
RewriteRule ^prince-albert-monaco-charlene-wittstock/20110405602/prince-albert-of-monaco/charlene-wittstock/ireland-gala-dinner/$ https://www.hellomagazine.com/tags/princess-charlene/ [R=301,L]
RewriteRule ^prince-albert-monaco-charlene-wittstock/20110118459/prince-albert-charlene-wittstock/wedding/dress-armani/$ https://www.hellomagazine.com/tags/princess-charlene/ [R=301,L]
RewriteRule ^madeleine-of-sweden-chris-oneill/liveblog/$ https://www.hellomagazine.com/tags/princess-madeleine [R=301,L]
RewriteRule ^princess-victoria-and-daniel-westling/galeria/20100520351/princess-victoria/daniel-westling/gallery-love-story/1/4/$ https://www.hellomagazine.com/tags/princess-victoria/ [R=301,L]
RewriteRule ^princess-victoria-and-daniel-westling/galeria/20100520351/princess-victoria/daniel-westling/gallery-love-story/1/5/$ https://www.hellomagazine.com/tags/princess-victoria/ [R=301,L]
RewriteRule ^prince-william-and-kate-middleton/20110428640/the-queen-pre-wedding-party-royals-guests/$ https://www.hellomagazine.com/tags/kate-middleton/ [R=301,L]
RewriteRule ^madeleine-of-sweden-chris-oneill/201305301364/madeleine-wedding-sweden-settings/$ https://www.hellomagazine.com/tags/princess-madeleine [R=301,L]
RewriteRule ^madeleine-of-sweden-chris-oneill/201305151358/princess-madeleine-wedding-details/$ https://www.hellomagazine.com/tags/princess-madeleine [R=301,L]
RewriteRule ^prince-william-and-kate-middleton/20110429662/royal-wedding-sermon-bishop-of-london-richard-john-carew-chartres/$ https://www.hellomagazine.com/tags/kate-middleton/ [R=301,L]


# Glide Articles
RewriteCond  %{REQUEST_URI} ^(?:\/[a-zA-Z-]+){1,2}(?:\/[0-9]{6}\/){1}?(?:[a-zA-Z0-9-]+)\/$
RewriteRule (.*) /404.html [R=404,L]


# Generic fallback
RewriteCond %{REQUEST_URI} !^/404\.html$
RewriteCond %{REQUEST_URI} !^/$
RewriteRule ^(.*)$ https://www.hellomagazine.com/$1 [R=301,L]

# Home fallback
RedirectMatch 301 ^/$ https://www.hellomagazine.com/tags/royal-wedding/