RewriteEngine On

Redirect 301 /andreabyrne/index.html https://www.hellomagazine.com/celebrities/
Redirect 301 /andreabyrne/tag/lee-byrne/index.html https://www.hellomagazine.com/celebrities/
Redirect 301 /andreabyrne https://www.hellomagazine.com/celebrities/
Redirect 301 /donnaair/2016/11/donna-airs-latest-finds/ https://www.hellomagazine.com/celebrities/
Redirect 301 /donnaair/2016/12/the-style-edit/ https://www.hellomagazine.com/celebrities/
Redirect 301 /donnaair/ https://www.hellomagazine.com/celebrities/
Redirect 301 /giovannafletcher/2014/01/just-keep-swimming-just-keep-swimming/ https://www.hellomagazine.com/tags/giovanna-fletcher/
Redirect 301 /giovannafletcher/2014/04/waiting-for-that-first-smile/ https://www.hellomagazine.com/tags/giovanna-fletcher/
Redirect 301 /giovannafletcher/2014/06/another-week-another-adventure/ https://www.hellomagazine.com/tags/giovanna-fletcher/
Redirect 301 /giovannafletcher/2014/07/mcfamily-time-and-some-disasters-in-the-kitchen/ https://www.hellomagazine.com/tags/giovanna-fletcher/
Redirect 301 /giovannafletcher/2014/07/milk-machine/ https://www.hellomagazine.com/tags/giovanna-fletcher/
Redirect 301 /giovannafletcher/2014/08/buzz-eats-a-strawberry-sort-of/ https://www.hellomagazine.com/tags/giovanna-fletcher/
Redirect 301 /giovannafletcher/2014/08/luxury-in-bath-glamping-and-celebrating-with-friends/ https://www.hellomagazine.com/tags/giovanna-fletcher/
Redirect 301 /giovannafletcher/2014/09/mummy-guilt-slaps-me-in-the-face/ https://www.hellomagazine.com/tags/giovanna-fletcher/
Redirect 301 /giovannafletcher/2015/10/my-first-experience-of-presenting-live-tv/ https://www.hellomagazine.com/tags/giovanna-fletcher/
Redirect 301 /giovannafletcher/2015/12/baby-scan-knitting-panto-and-a-festive-party/ https://www.hellomagazine.com/tags/giovanna-fletcher/
Redirect 301 /giovannafletcher/index.html https://www.hellomagazine.com/tags/giovanna-fletcher/
Redirect 301 /giovannafletcher/tag/tom-fletcher/ https://www.hellomagazine.com/tags/giovanna-fletcher/
Redirect 301 /giovannafletcher/ https://www.hellomagazine.com/tags/giovanna-fletcher/

Redirect 301 /hottopic/2016/09/tabitha-and-emily-discuss-how-to-look-stylish-this-autumn/ https://www.hellomagazine.com/celebrities/
Redirect 301 /hottopic/2016/09/tabitha-and-emily-talk-london-fashion-week/ https://www.hellomagazine.com/celebrities/
Redirect 301 /hottopic/2016/10/velvet-love-it-or-loathe-it/ https://www.hellomagazine.com/fashion/
Redirect 301 /hottopic/ https://www.hellomagazine.com/celebrities/
Redirect 301 /jessicaknowles/2016/10/an-epiphany-fashion-moment/ https://www.hellomagazine.com/fashion/

Redirect 301 /krihanoff/2015/12/only-the-best-dancers-remain-in-strictly/ https://www.hellomagazine.com/tags/strictly-come-dancing/
Redirect 301 /krihanoff/2016/09/baby-mila-is-adorable-i-cant-imagine-life-without-her/ https://www.hellomagazine.com/tags/kristina-rihanoff/
Redirect 301 /krihanoff/2016/10/my-first-day-away-from-mila-was-nerve-racking/ https://www.hellomagazine.com/tags/kristina-rihanoff/
Redirect 301 /krihanoff/2016/11/la-with-baby-mila/ https://www.hellomagazine.com/tags/kristina-rihanoff/
Redirect 301 /krihanoff/2016/12/our-first-family-holiday-with-mila/ https://www.hellomagazine.com/tags/kristina-rihanoff/
Redirect 301 /krihanoff/2017/01/mila-is-desperate-to-start-crawling/ https://www.hellomagazine.com/tags/kristina-rihanoff/
Redirect 301 /krihanoff/2017/02/my-romantic-break-to-barcelona-and-lfw/index.html https://www.hellomagazine.com/tags/kristina-rihanoff/
Redirect 301 /krihanoff/2017/04/family-holiday-to-tenerife-and-my-charity-ball/ https://www.hellomagazine.com/tags/kristina-rihanoff/
Redirect 301 /krihanoff/2017/05/my-big-announcement/ https://www.hellomagazine.com/tags/kristina-rihanoff/
Redirect 301 /krihanoff/ https://www.hellomagazine.com/tags/kristina-rihanoff/

Redirect 301 /michellekeegan/2014/05/real-heroes-and-bagging-a-treat/ https://www.hellomagazine.com/tags/michelle-keegan/
Redirect 301 /michellekeegan/2014/07/i-have-officially-moved-away-from-manchester/ https://www.hellomagazine.com/tags/michelle-keegan/
Redirect 301 /michellekeegan/2015/01/wrapping-on-ordinary-lies-the-strictly-tour/ https://www.hellomagazine.com/tags/michelle-keegan/
Redirect 301 /michellekeegan/2015/04/the-new-film-is-a-fantastic-challenge/ https://www.hellomagazine.com/tags/michelle-keegan/
Redirect 301 /michellekeegan/2015/05/baftas-girls-night-in-essex-and-my-lipsy-london-aw-launch/ https://www.hellomagazine.com/tags/michelle-keegan/
Redirect 301 /michellekeegan/2015/06/our-honeymoon-maldives-and-dubai-and-enjoying-the-sunshine/ https://www.hellomagazine.com/tags/michelle-keegan/
Redirect 301 /michellekeegan/2016/05/catching-up-at-bafta-and-lipsy-and-a-night-out-in-london/ https://www.hellomagazine.com/tags/michelle-keegan/
Redirect 301 /michellekeegan/2016/10/fantastic-girls-night-at-menagerie-manchester-going-for-the-chop/ https://www.hellomagazine.com/tags/michelle-keegan/
Redirect 301 /michellekeegan/2016/11/my-trip-to-la-microblading-and-my-new-beauty-must-haves/ https://www.hellomagazine.com/tags/michelle-keegan/
Redirect 301 /michellekeegan/2017/01/christmas-week-with-family-and-friends-2/ https://www.hellomagazine.com/tags/michelle-keegan/
Redirect 301 /michellekeegan/2017/02/birthday-celebrations-at-malmaison-manchester-weddings-and-new-beauty-recommendations/ https://www.hellomagazine.com/tags/michelle-keegan/
Redirect 301 /michellekeegan/2017/02/dinner-at-sushisamba-and-some-new-beauty-faves/ https://www.hellomagazine.com/tags/michelle-keegan/
Redirect 301 /michellekeegan/2017/02/my-fantastic-skiing-holiday-to-val-thorens/ https://www.hellomagazine.com/tags/michelle-keegan/
Redirect 301 /michellekeegan/2017/03/mothers-day-treats-in-manchester-and-meetings-in-london/ https://www.hellomagazine.com/tags/michelle-keegan/
Redirect 301 /michellekeegan/2017/04/day-trip-to-suffolk-and-catching-up-with-family-and-friends-in-manchester/ https://www.hellomagazine.com/tags/michelle-keegan/
Redirect 301 /michellekeegan/2017/04/paris-microblading-and-keeping-comfy-on-a-beauty-shoot/index.html https://www.hellomagazine.com/tags/michelle-keegan/
Redirect 301 /michellekeegan/2017/04/prepping-and-packing-for-our-girl/ https://www.hellomagazine.com/tags/michelle-keegan/
Redirect 301 /michellekeegan/ https://www.hellomagazine.com/tags/michelle-keegan/
Redirect 301 /myweddingscrapbook/2012/11/celebrity-inspired-floral-bridal-crowns.html https://www.hellomagazine.com/tags/royal-weddings/
Redirect 301 /myweddingscrapbook/2012/11/royal-weddings-princess-grace-of-monaco.html/ https://www.hellomagazine.com/tags/royal-weddings/
Redirect 301 /myweddingscrapbook/2012/11/royal-weddings-queen-elizabeth-ii.html https://www.hellomagazine.com/tags/royal-weddings/
Redirect 301 /myweddingscrapbook/2012/11/the-engagement-rings-adorning-the-hands-of-the-british-royals.html https://www.hellomagazine.com/tags/royal-weddings/
Redirect 301 /myweddingscrapbook/2012/12/celebrity-inspired-wedding-guest-diane-kruger.html https://www.hellomagazine.com/tags/weddings/
Redirect 301 /myweddingscrapbook/2013/09/celebrity-civil-weddings.html https://www.hellomagazine.com/tags/weddings/
Redirect 301 /myweddingscrapbook/2013/09/chrissy-teigens-bridal-look.html https://www.hellomagazine.com/tags/chrissy-teigen/
Redirect 301 /myweddingscrapbook/2013/09/eight-incredible-and-affordable-wedding-cakes.html https://www.hellomagazine.com/tags/weddings/
Redirect 301 /myweddingscrapbook/2013/09/luxury-wedding-cakes-from-langs-of-london.html https://www.hellomagazine.com/tags/weddings/
Redirect 301 /myweddingscrapbook/2013/09/millie-mackintoshs-bridal-look.html https://www.hellomagazine.com/tags/millie-mackintosh/
Redirect 301 /myweddingscrapbook/2013/09/royal-weddings-princess-claire.html https://www.hellomagazine.com/tags/royal-weddings/
Redirect 301 /myweddingscrapbook/2013/09/royal-weddings-princess-madeleine-of-sweden.html https://www.hellomagazine.com/tags/royal-weddings/
Redirect 301 /myweddingscrapbook/2013/09/royal-weddings-tatiana-santo-domingo-and-andrea-casiraghi.html https://www.hellomagazine.com/tags/royal-weddings/
Redirect 301 /myweddingscrapbook/2013/09/tipshow-to-choose-your-wedding-cake.html https://www.hellomagazine.com/tags/weddings/
Redirect 301 /myweddingscrapbook/2013/10/a-closer-look-at-ciaras-engagement-ring.html https://www.hellomagazine.com/tags/ciara/
Redirect 301 /myweddingscrapbook/2013/10/bridesmaid-dresses-by-twobirds.html https://www.hellomagazine.com/tags/weddings/
Redirect 301 /myweddingscrapbook/2013/10/ideas-for-a-halloween-themed-wedding.html https://www.hellomagazine.com/tags/weddings/
Redirect 301 /myweddingscrapbook/2013/10/jenny-packhams-sparkling-wedding-dresses-for-2014.html https://www.hellomagazine.com/tags/weddings/
Redirect 301 /myweddingscrapbook/2013/10/kardashian-engagement-rings.html https://www.hellomagazine.com/tags/celebrity-weddings/
Redirect 301 /myweddingscrapbook/2013/10/monique-lhuilliers-enchanting-designs.html https://www.hellomagazine.com/tags/celebrity-weddings/
Redirect 301 /myweddingscrapbook/2013/10/princess-perfect-tiaras-for-your-wedding-day.html https://www.hellomagazine.com/tags/weddings/
Redirect 301 /myweddingscrapbook/2013/10/rose-mcgowans-bridal-look.html https://www.hellomagazine.com/tags/celebrity-weddings/
Redirect 301 /myweddingscrapbook/2013/11/a-closer-look-at-zoe-saldanas-engagement-ring.html https://www.hellomagazine.com/tags/celebrity-weddings/
Redirect 301 /myweddingscrapbook/2013/11/cleo-le-tans-unique-parisian-wedding.html https://www.hellomagazine.com/tags/celebrity-weddings/
Redirect 301 /myweddingscrapbook/2013/11/get-the-look-whitney-ports-engagement-ring.html https://www.hellomagazine.com/tags/celebrity-weddings/
Redirect 301 /myweddingscrapbook/2013/11/get-the-look-zoe-saldanas-engagement-ring.html https://www.hellomagazine.com/tags/celebrity-weddings/
Redirect 301 /myweddingscrapbook/2013/11/hilary-rhodas-engagement-ring.html https://www.hellomagazine.com/tags/celebrity-weddings/
Redirect 301 /myweddingscrapbook/2013/11/jackie-and-john-kennedys-iconic-wedding.html https://www.hellomagazine.com/tags/celebrity-weddings/
Redirect 301 /myweddingscrapbook/2013/11/megan-hilty-and-brian-gallagher-marry-in-las-vegas.html https://www.hellomagazine.com/tags/celebrity-weddings/
Redirect 301 /myweddingscrapbook/2013/11/ten-of-the-most-expensive-celebrity-engagement-rings.html https://www.hellomagazine.com/tags/celebrity-weddings/
Redirect 301 /myweddingscrapbook/2013/11/wedding-hair-how-to-get-the-perfect-bun.html https://www.hellomagazine.com/tags/weddings/
Redirect 301 /myweddingscrapbook/2013/12/fearne-cottons-unique-engagement-ring.html https://www.hellomagazine.com/tags/celebrity-weddings/
Redirect 301 /myweddingscrapbook/2013/12/gabrielle-unions-engagement-ring.html https://www.hellomagazine.com/tags/celebrity-weddings/
Redirect 301 /myweddingscrapbook/2013/12/get-the-look-kaley-cuocos-engagement-ring.html https://www.hellomagazine.com/tags/celebrity-weddings/
Redirect 301 /myweddingscrapbook/2013/12/getting-married-abroad-wedding-tips.html https://www.hellomagazine.com/tags/weddings/
Redirect 301 /myweddingscrapbook/2013/12/honeymoon-like-the-royals.html https://www.hellomagazine.com/tags/royal-weddings/
Redirect 301 /myweddingscrapbook/2013/12/kelly-rowland-finally-shows-off-her-cushion-cut-engagement-ring.html https://www.hellomagazine.com/tags/celebrity-weddings/
Redirect 301 /myweddingscrapbook/2013/12/kim-kardashian-shares-never-before-seen-engagement-pics.html https://www.hellomagazine.com/tags/celebrity-weddings/
Redirect 301 /myweddingscrapbook/2013/12/model-britt-maren-flashes-her-engagement-ring.html https://www.hellomagazine.com/tags/celebrity-weddings/
Redirect 301 /myweddingscrapbook/2013/12/personalised-christmas-gifts-for-bridesmaids.html https://www.hellomagazine.com/tags/weddings/
Redirect 301 /myweddingscrapbook/2013/12/the-best-celebrity-weddings-of-2013.html/the-best-celebrity-weddings-of-2013.html https://www.hellomagazine.com/tags/celebrity-weddings/
Redirect 301 /myweddingscrapbook/2014/01/award-winning-engagement-rings.html https://www.hellomagazine.com/tags/engagement-rings/
Redirect 301 /myweddingscrapbook/2014/01/kaley-cuocos-pink-wedding-dress.html https://www.hellomagazine.com/tags/kaley-cuoco/
Redirect 301 /myweddingscrapbook/2014/04/theias-stunning-crop-top-wedding-dress-kim-kardashians-dream-dress.html/ https://www.hellomagazine.com/tags/kim-kardashian/
Redirect 301 /myweddingscrapbook/2014/05/poppy-delevingne-and-james-cooks-wedding.html/ https://www.hellomagazine.com/tags/poppy-delevingne/
Redirect 301 /myweddingscrapbook/2016/04/celebrity-yellow-engagement-rings.html https://www.hellomagazine.com/tags/engagement-rings/
Redirect 301 /myweddingscrapbook/tag/wedding-cakes/ https://www.hellomagazine.com/tags/wedding-cakes/
Redirect 301 /natalieanderson/2013/04/baby-shower/ https://www.hellomagazine.com/tags/natalie-anderson/
Redirect 301 /natalieanderson/2014/05/an-exclusive-glimpse-of-my-first-red-capret-collection/ https://www.hellomagazine.com/tags/natalie-anderson/
Redirect 301 /natalieanderson/2014/06/fun-on-bgt-and-my-super-glamorous-hello-shoot/ https://www.hellomagazine.com/tags/natalie-anderson/
Redirect 301 /natalieanderson/2015/09/short-breaks-pride-of-britain-and-best-beauty-buys/ https://www.hellomagazine.com/tags/natalie-anderson/
Redirect 301 /natalieanderson/2015/12/a-trip-to-new-york-the-x-factor-and-getting-ready-for-christmas/ https://www.hellomagazine.com/tags/natalie-anderson/
Redirect 301 /natalieanderson/2016/09/from-first-day-of-school-to-london-fashion-week/index.html https://www.hellomagazine.com/tags/natalie-anderson/
Redirect 301 /natalieanderson/ https://www.hellomagazine.com/tags/natalie-anderson/
Redirect 301 /style-and-tech/2013/03/powering-up-the-kindle-fire-hd.html/ https://www.hellomagazine.com/homes/
Redirect 301 /style-and-tech/2013/09/celena-cherry-talks-about-the-honeyz-the-big-reunion-and-tech.html/ https://www.hellomagazine.com/homes/
Redirect 301 /style-and-tech/index.html https://www.hellomagazine.com/homes/
Redirect 301 /style-and-tech/page/2.html https://www.hellomagazine.com/homes/
Redirect 301 /style-and-tech/ https://www.hellomagazine.com/homes/
Redirect 301 /swetarai/2016/02/09/top-5-medical-tips-on-how-to-be-acne-free-this-valentines-day/ https://www.hellomagazine.com/celebrities/
Redirect 301 /swetarai/ https://www.hellomagazine.com/celebrities/
Redirect 301 /talkbeckytalk/2014/10/16/autumn-beauty-picks/ https://www.hellomagazine.com/healthandbeauty/
Redirect 301 /theonediary/tag/hen-party-2 https://www.hellomagazine.com/celebrities/
Redirect 301 /theonediary/ https://www.hellomagazine.com/celebrities/
Redirect 301 /us/giovannafletcher/ https://www.hellomagazine.com/tags/giovanna-fletcher/
Redirect 301 /giovannafletcher/2015/10/my-first-experience-of-presenting-live-tv/ https://www.hellomagazine.com/tags/giovanna-fletcher/
Redirect 301 /giovannafletcher https://www.hellomagazine.com/tags/giovanna-fletcher/
Redirect 301 /jessicaknowles/2015/11/how-i-got-my-mojo-back-after-pregnancy/ https://www.hellomagazine.com/tags/jessica-knowles/
Redirect 301 /michellekeegan/2017/03/mothers-day-treats-in-manchester-and-meetings-in-london/index.html https://www.hellomagazine.com/tags/michelle-keegan/
Redirect 301 /michellekeegan/2017/06/my-first-weeks-in-cape-town/index.html https://www.hellomagazine.com/tags/michelle-keegan/
Redirect 301 /myweddingscrapbook/2013/09/celebrity-civil-weddings.html https://www.hellomagazine.com/tags/celebrity-weddings/
Redirect 301 /myweddingscrapbook/2013/09/celebrity-inspired-wedding-guest-kate-middleton.html https://www.hellomagazine.com/tags/celebrity-weddings/
Redirect 301 /myweddingscrapbook/2013/09/inside-tatiana-santo-domingo-and-andrea-casiraghis-pre-wedding-dinner-2.html https://www.hellomagazine.com/tags/celebrity-weddings/
Redirect 301 /myweddingscrapbook/2013/09/royal-weddings-tatiana-santo-domingo-and-andrea-casiraghi.html https://www.hellomagazine.com/tags/royal-weddings/
Redirect 301 /myweddingscrapbook/2013/11/ten-of-the-most-expensive-celebrity-engagement-rings.html https://www.hellomagazine.com/tags/engagement-rings/
Redirect 301 /myweddingscrapbook/2013/12/celebrity-christmas-weddings-and-proposals-of-2013-part-ii.html https://www.hellomagazine.com/tags/celebrity-weddings/
Redirect 301 /myweddingscrapbook/2013/12/gabrielle-unions-engagement-ring.html https://www.hellomagazine.com/tags/engagement-rings/
Redirect 301 /myweddingscrapbook/2013/12/the-best-celebrity-weddings-of-2013.html https://www.hellomagazine.com/tags/celebrity-weddings/
Redirect 301 /myweddingscrapbook/2014/02/get-the-look-tatiana-santo-domingos-ruffled-wedding-dress.html https://www.hellomagazine.com/tags/celebrity-weddings/
Redirect 301 /myweddingscrapbook/2014/02/royal-wedding-tatiana-santo-domingos-winter-wedding-dress-2.html https://www.hellomagazine.com/tags/celebrity-weddings/

# Generic fallback
RedirectMatch 301 ^/(.*)$ https://www.hellomagazine.com/

